.info {
  background-color: rgb(80, 76, 76);
  color: white;
  margin-left: 15px;
  margin-right: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: .5% .5% .5% .5%;
  border-radius: 10px;

}

.signup {
  background-color: orange;
  color: yellow;
  margin-left: 25rem%;
  margin-top: .5%;
  padding: .5% .5% .5% 1%;
  border-radius: 10px;
  border-spacing: 10px;
  text-align: left;
  font-weight: bold;
}

.sucan {
  background-color: orange;
  margin-left: 25rem%;
  margin-top: .5%;
  padding: .5% .5% 1% 1%;
  border-radius: 10px;
  border-spacing: 10px;
  text-align: right;
  font-weight: bold;
}

.submit {
  background-color: rgb(127, 207, 6);
  color: white;
  border-radius: 3px;
  height: 2rem;
  width: 5rem;
  border: none;
  margin-right: 5px;
  margin-top: 1%;
  cursor: pointer;
}

.cancel {
  background-color: rgb(196, 97, 60);
  color: white;
  border-radius: 3px;
  height: 2rem;
  width: 5rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.fname {
  margin-top: 1%

}

.lname {
  margin-top: 1%;
}

.dob {
  margin-top: 1%;
}

.gender {
  margin-top: 1%;
}

.country {
  margin-top: 1%;
}

.email {
  margin-top: 1%;
}

.phone {
  margin-top: 1%;
}

.terms {
  margin-top: 1%;
}
